* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Serif, serif;
    background: linear-gradient(90deg, #f90126, #ee0066, #c61698, #8445b5, #1457b7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    text-align: center;
}


h1 {
    color: #333;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #8445b5;
    box-shadow: 0 0 5px rgba(132, 69, 181, 0.3);
}


button {
    width: 100%;
    background: linear-gradient(90deg, #6a64f6, #a96ddf, #c77fcd, #a789c9);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0 0 15px rgba(167, 137, 201, 0.8);
}

button:disabled {
    background: linear-gradient(90deg, #a2a1df, #cbbdda, #dbc9dc, #cdc2d8);
    cursor: not-allowed;
    box-shadow: none;
}

.login-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #bf26ea;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.login-link:hover {
    text-decoration: underline;
}
.register-link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #bf26ea;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}
.register-link:hover {
    text-decoration: underline;
}
.error-message {
    color: #f90126;
    margin-bottom: 15px;
    background: rgba(249, 1, 38, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}


.requirements {
    font-size: 0.8em;
    color: #666;
    margin-top: 8px;
}

.requirements ul {
    list-style: none;
    padding-left: 5px;
}

.requirements li {
    margin-bottom: 3px;
    position: relative;
    padding-left: 20px;
    line-height: 1.4;
}

.requirements li::before {
    content: "•";
    position: absolute;
    left: 5px;
    color: #ccc;
}

.valid {
    color: #3a9b45;
}

.valid::before {
    content: "✓";
    color: #3a9b45;
}

.invalid {
    color: #777;
}

.error {
    color: #f90126;
}

.error::before {
    content: "✗";
    color: #f90126;
}

.password-match {
    margin-top: 5px;
    padding-left: 5px;
    transition: color 0.3s;
}


@media (max-width: 400px) {
    .container {
        padding: 20px;
        margin: 0 15px;
    }
}