<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library of books</title>
    <link rel="stylesheet" th:href="@{/css/library.css}">
    <script src="/js/genres.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<header>
    <h1>My library</h1>
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <nav id="nav-menu">
        <div class="nav-item">
            <form method="get" action="/library">
                <select name="sortBy" onchange="this.form.submit()" class="nav-btn">
                    <option value="title" th:selected="${currentSort == 'title'}">Sortuj alfabetycznie</option>
                    <option value="date" th:selected="${currentSort == 'date'}">Sortuj według daty</option>
                    <option value="author" th:selected="${currentSort == 'author'}">Sortuj według autora</option>
                </select>
            </form>
        </div>

        <div class="nav-item">
            <a href="/" class="nav-btn">Download</a>
        </div>

        <div class="nav-item">
            <a href="/search" class="nav-btn">Search</a>
        </div>

        <div class="nav-item">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="nav-btn">Logout</button>
            </form>
        </div>
    </nav>

</header>

<div class="library-container">
    <div class="book-card" th:each="ebook : ${ebooks}"
         th:attr="data-genres=${#strings.listJoin(ebook.genres, ', ')}"
         onmousemove="showTooltip(event, this)"
         onmouseleave="hideTooltip()">
        <a th:href="@{/book/{id}(id=${ebook.id})}">
            <img th:src="@{'/images/' + ${ebook.coverFilename}}" alt="Book Cover">
            <h2 th:text="${ebook.title}"></h2>
        </a>
        <p th:text="${ebook.author}"></p>
        <div class="book-actions">
            <a th:href="@{/edit/{id}(id=${ebook.id})}" class="icon-btn edit-btn">
                <i class="fas fa-edit"></i>
            </a>
            <form th:action="@{/delete/{id}(id=${ebook.id})}" method="post">
                <button type="submit" class="icon-btn delete-btn">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
    </div>
</div>


<div id="genre-tooltip" class="genre-tooltip"></div>
<script>
    function toggleMenu() {
        let nav = document.getElementById("nav-menu");
        nav.classList.toggle("show");
    }
</script>
</body>

</html>
